.login .login-form { padding-top: 60px; }
.login .f-name { padding-bottom: 32px; }
.login .p-word { padding-bottom: 18px; }
.login .f-pass { font-family: var(--primary-font-family); font-weight: 400; font-size: 14px; line-height: 18px; text-transform: capitalize; color: #616161; }
.login-form input { font-family: var(--primary-font-family); font-weight: 400; font-size: 16px; line-height: 20px; text-transform: capitalize; color: rgba(97, 97, 97, 0.44); padding: 15px 0 15px 15px; border-radius: 8px; border: 1px solid  rgba(0, 0, 0, 0.17); }
.login-form label { font-family: var(--primary-font-family); font-weight: 400; font-size: 16px; line-height: 20px; text-transform: capitalize; color: #000; padding-bottom: 16px; }
.login-form input:focus { border: 1px solid  rgba(0, 0, 0, 0.17); }
.login-form ::placeholder { font-family: var(--primary-font-family); font-weight: 400; font-size: 16px; line-height: 20px; text-transform: capitalize; color: rgba(97, 97, 97, 0.44); }
.login-form textarea { margin: 30px 0; padding: 15px 0 18px 20px; }
.login-form textarea { height: 195px; font-family: var(--primary-font-family); font-weight: 400; font-size: 16px; color: rgba(97, 97, 97, 0.44); text-transform: capitalize; border: 1px solid  rgba(0, 0, 0, 0.17); }
.login-form textarea:focus { border: 1px solid  rgba(0, 0, 0, 0.17); }
.login-form .theme-button { padding: 15px 30px; display: block; margin-top: 30px; }
.login .form-row { flex-wrap: wrap; }
.login .divider { display: flex; align-items: center; text-align: center; margin: 30px 0; position: relative; }
.login .divider::before, .divider::after { content: ''; flex: 1; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.login .divider-text { padding: 0 10px; position: relative; z-index: 1; background-color: #FFF; font-family: var(--second-family); font-weight: 400; font-size: 14px; text-transform: capitalize; color: #616161; }
.login .create-acc { padding: 0; text-align: center; background-color: transparent; color: #588157; }
.login .create-acc:hover { background-color: #588157; color: #fff; transition: all 400ms; }
@media (max-width:991px) {
 .contact-form input { padding: 13px 0 13px 20px; }
 }

@media (max-width:575px) {
 .login .f-name { padding-bottom: 20px; }
.login-form input { padding: 12px 0 12px 15px; }
.login-form .theme-button { margin-top: 25px; padding: 12px 30px; }
.login .create-acc { padding: 0; }
}

