/* ibmplexsans */
@font-face {
    font-family: 'ibmplexsans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('font/ibmplexsans-regular.woff') format('woff'),
        url('font/ibmplexsans-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'ibmplexsans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('font/ibmplexsans-medium.woff') format('woff'),
        url('font/ibmplexsans-medium.woff2') format('woff2');
}

@font-face {
    font-family: 'ibmplexsans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('font/imbplexsans-semibold.woff') format('woff'),
        url('font/ibmplexSans-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'ibmplexsans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('font/ibmplexsans-bold.woff') format('woff'),
        url('font/ibmplexsans-bold.woff2') format('woff2');
}





