footer{
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: top;
}

.footer-title{
    padding-top: 30px;
}

.subscribe-form form{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    padding-bottom: 17px;
    margin-left: 40px;
    margin-right: 15px;
} 


.subscribe-form form input{
    padding: 14px 20px;
    width: 100%;
    color: #BBBBBB;
    background-color: #F1F1F1;
    border: none;
    border-radius: 7px;
    font-family: var(--primary-font-family);
    font-size: 16px;
}

.subscribe-form form input:focus{
    outline: none;
}

.subscribe-form form .subscribe-button{
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    border: 1px solid #9AE62D;
    background-color: #9AE62D;
    border-radius: 7px;
    font-family: var(--primary-font-family);
    font-weight: 500;
    color: #000000;
}

.subscribe-form form .subscribe-button:hover{
    background-color: #FFFFFF;
    color: #9AE62D;
    transition: all 800ms;
}

.subscribe-form form .subscribe-button:focus{
    outline: none;
}

.footer-content{
    flex-wrap: wrap;
}

.footer-logo{
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer-content h4{
    color: #FFFFFF;
    padding-bottom: 16px;
    font-weight: 500;
}

.footer-content .footer-about p{
    max-width: 230px;
    color: #DDDDDD;
}

.footer-content ul li:hover a{
    color: #9AE62D;
    transition: all 1s;
}

.footer-content a:hover{
    color: #9AE62D;
    transition: all 1s;
}

.footer-contact ul li{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--primary-font-family);
    color: #DDDDDD;
}

.footer-contact ul li a{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--primary-font-family);
    color: #DDDDDD;
}

.branch-add p{
    color: #DDDDDD ;
    max-width: 230px;
}

.social-link ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 35px;
}


.social-link ul li i{
    color:#E4E4E4 ;
    font-size: 16px;
}

.social-link ul li:hover i{
    color: #9AE62D;
    transition: all 1s;
}

.copy-right{
    border-top: 1px solid #262626;
    padding: 20px 0;
    margin-top: 45px;
}

.copy-right p{
    color: #DDDDDD;
}

.footer-contact{
    padding-left: 40px;
}

.branch-add{
    padding-left: 90px;
}

.social-link{
    padding-left: 130px;
}

@media (max-width:1899px) {
    .subscribe-form form{
        margin-left: 30px;
        margin-right: 30px;

    }
}

@media (max-width:1399px) {
    .footer-contact{
        padding-left: 0px;
    }
    
    .branch-add{
        padding-left: 0px;
    }
    
    .social-link{
        margin-left: unset;
    }
    .social-link{
        padding-left: 0px;
    }
}

@media (max-width:1300px) {
    .subscribe-form form{
        margin-right: 0;
    }
}

@media (max-width:1199px) {
    .footer-title {
        padding-top: 0;
    }
    .subscribe-form form{
        margin-left: 50px;
        margin-top: 20px;
    }
}

@media (max-width:991px) {
    footer{
        background-color: #181818;
    }
    .footer-title {
        align-self: center;
    }
    .footer-title h2{
        color: #FFFFFF;
    }
    .subscribe-form form {
        margin-left: 0;
        margin-bottom: 30px;
        padding: 20px;
        margin-bottom: 0;
    }
    .subscribe-form form input{
        padding: 12px 20px;
    }
    .footer-content{
        margin-top: 50px;
        row-gap: 25px;
        padding-bottom: 0;
    }
    .footer-logo{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .copy-right {
        margin-top: 40px;
        padding: 10px 0;
    }

    footer .container{
        padding-top: 50px;
    }
    .subscribe-form form .subscribe-button{
        padding: 12px 0;
    }
    .social-link h4{
        padding-bottom: 16px;
    }
}

@media (max-width:767px) {
    .footer-content{
        margin-top: 40px;
    }
}

@media (max-width:575px) {
    .copy-right{
        margin-top: 30px;
    }
    .footer-content .footer-about p{
        max-width: 100%;
    }
    .branch-add p {
        max-width: 100%;
    }
    .footer-title{
        text-align: center;
        margin-top: 0;
    }
    .footer-content h4 {
        padding-bottom: 5px;
    }
    .social-link h4{
        padding-bottom: 12px;
    }
    .footer-content {
        text-align: center;
    }
    .social-link ul{
        justify-content: center;
    }
}

@media (max-width:430px) {
    .footer-title {
        text-align: center;
    }
}