.renewable-insights{
    background-color: #181818;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

.renewable-insights::before{
    position: absolute;
    content: '';
    top: 0;
    background-image: url("../images/renewable-insight-bg.png");
    width: 100%;
    height: 100%;
    background-position: right;
    background-position-y: 20px;
    background-repeat: no-repeat;
    z-index: -1;
}

.testimonial {
    margin-bottom: -24%;
}

.testimonial .container{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.02);
}

.renewable-title{
    margin-bottom: 40px;
}

.renewable-title h2{
    color: #FFFFFF;
}

.slider {
    position: relative;
    padding: 30px 0;
    padding-top: 45px;
    border-top: 1px solid #262626;
}

.slider-item {
    text-align: left;
}

.card {
    background-color: transparent;
    border: none;
}

.card img {
    border-radius: 10px;
}

.card-body{
    padding: 0 15px;
} 

.card-body h4{
    color: #FFFFFF;
}

.card-text {
    color: #DDDDDD;
    padding-bottom: 15px;
}

.card-footer {
    border-top: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: #DDDDDD;
    background-color: unset;
    justify-content: space-between;
    font-family: var(--primary-font-family);
}

.card-footer:last-child {
    border-radius: 0;
}

.card-footer a{
    color: #9AE62D;
    text-decoration: underline;
}

.card-footer a i{
    margin-left: 8px;
}

.slick-next {
    z-index: 99;
    left: unset !important;
    bottom: 5px !important;
    right: 20px!important;
    top:-17% !important;
}

.slick-prev {
    z-index: 99;
    left: unset !important;
    bottom: 5px !important;
    right: 85px !important;
    top: -17% !important;
}

.slick-prev:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f060";
    font-size: 20px;
    width: 49px;
    height: 49px;
    background-color: transparent;
    color: #9AE62D !important;
    border: 1px solid #9AE62D;
    opacity: 1;
    display: flex !important;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center !important;
    transition: all 0.6s ease;
}

.slick-prev:hover:before {
    background-color: #9AE62D; /* Background becomes transparent */
    color: #FFFFFF!important; /* Text color changes to black */
}

.slick-next:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f061";
    font-size: 20px;
    width: 49px;
    height: 49px;
    background-color: transparent;
    border: 1px solid #9AE62D;
    color: #9AE62D !important;
    opacity: 1;
    display: flex !important;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center !important;
    transition: all 0.6s ease;
}

.slick-next:hover:before {
    background-color: #9AE62D;
    color: #FFFFFF!important;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: unset;
    outline: unset;
    background: unset;
}

.slick-dots{
    display: none !important;
}
.slick-dotted.slick-slider{
    margin: 0;
}

.slider-item {
    position: relative;
    overflow: hidden; 
    z-index: 99;
}

.slider-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px; 
    margin-top: -45px;
    z-index: 99999;
    background-color: #9AE62D; 
    transition: width 0.4s ease;
}

.slider-item:hover::before {
    width: 100%;
}

.testimonial{
    z-index: 999;
}

.testimonial .container{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.testimonial-form {
    padding: 60px;
}

.testimonial-form :focus-visible{
    outline: none;
}

.form-check .form-check-label{
    margin-top: 0;
    line-height: 16px;
}

.form-control:focus{
    box-shadow: none;
    border-color: unset;
    border: none;
    background-color: #F1F1F1 !important;
}

.form-select{
    height: 51px;
}

.form-select:focus {
    box-shadow: none !important;
    border-color: unset;
    border: 1px solid #F1F1F1;
} 

.testimonial-form form input{
    border: 1px solid #F1F1F1;
    height: 51px;
    background-color: #F1F1F1;
    color: #000000;
    padding-left: 20px;
}

.testimonial-form .date input{
    color: #BBBBBB;
}


.testimonial-form .date input:focus{
    color: #000000;
}

.form-select{
    --bs-form-select-bg-img:url('../images/select-arrow.svg');
} 

.testimonial-form ::placeholder{
    font-size: 16px;
    font-family: var(--primary-font-family);
    font-weight: 400;
    line-height: 21px;
    color: #BBBBBB;
    padding: 15px 10px 15px 0px;
}

.testimonial-form option{
    font-size: 16px;
    font-family: var(--primary-font-family);
    font-weight: 400;
    line-height: 21px;
    color: #515151;
    padding: 15px 10px 15px 10px !important;
    margin-top: 10px;
}

.testimonial-form option:hover{
    background-color: #FFFFFF;
    color: #515151;
}

.testimonial-form .form-select{
    font-size: 16px;
    font-family: var(--primary-font-family);
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    background-color: #F1F1F1;
    padding: 15px 10px 15px 20px;
    border: none;
}
 
.form-check-input:focus {
    border-color: #515151;
    outline: 0;
    box-shadow: none;
}

.testimonial-form .form-check input{
    height: 18px;
}

.testimonial-form textarea{
    height: 195px;
    background-color: #F1F1F1;
    padding: 10px;
    padding-top: 10px;
    padding-left: 20px;
    border: none;
}

.testimonial-form textarea::placeholder{
    padding-top: 5px;
}

.testimonial-form button{
    width: 100%;
}

.testimonial-form .theme-btn:hover{
    border: 1px solid #253745 !important;
}

.testimonial-info {
    background-image: url('../images/testimonial-box-bg.png');
}

.testimonial-box{
    padding: 20px;
}

.testimonial-info{
    background-image: url('../images/testimonial-box-bg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-info p{
    color: #FFFFFF;
}

.testimonial-info h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.testimonial-credit p{
    color: #E4E4E4;
}

.tettimonial-profile img{
    margin-right: 10px;
    margin-top: 10px;
}

.testimonial-form .btn{
    margin-left: 8px;
    margin-right: 8px;
    max-width: 97%;
}

@media (max-width:1399px) {
    .slick-next { 
        right: 40px!important;
    }
    
    .slick-prev {
        right: 100px !important;
    }
    .testimonial-info{
        padding: 30px;
    }

    .testimonial-form{
        padding: 40px;
        align-self: center;
    }
    .testimonial-form textarea{
        height: 100px;
    }
    .renewable-insights{
        border-top-left-radius: 120px;
        border-top-right-radius: 120px;
    }
}

@media (max-width:1199px) {
    .testimonial-form{
        padding: 25px;
    }
    .testimonial-info {
        padding: 25px;
    }
    .renewable-insights{
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
    }
    .testimonial-credit{
        padding-top: 15px;
    }
}

@media (max-width:991px) {
    .slick-next { 
        top: -14% !important;
    }
    
    .slick-prev {
        top: -14% !important;
    }

    .testimonial-form{
        order: 2;
        padding: 20px;
    }
    .testimonial-credit{
        padding-top: 25px;
    }
    .testimonial-form form input {
        height: 48px;
    }
    .testimonial-form textarea {
        height: 90px;
    }
    .testimonial {
        margin-bottom: -120px;
    }
    .renewable-insights{
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}

@media (max-width:767px) {
    .slick-next { 
        top: -13% !important;
    }
    
    .slick-prev {
        top: -13% !important;
    }
    .slick-prev:before{
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
    .slick-next:before{
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
    .renewable-insights{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}

@media (max-width:575px) {
    .slick-next { 
        top: 98% !important;
        left: 55%!important;
        width: 40px;
        height: 40px;
    }
    
    .slick-prev {
        top: 98% !important;
        right: 55% !important;
        width: 40px;
        height: 40px;
    }
    .renewable-insights{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .slider {
        padding-top: 20px;
    }
    .renewable-title {
        margin-bottom: 20px;
    }
    .testimonial-box {
        padding: 10px;
        padding-top: 20px;
    } 
}

@media (max-width:460px) {

}