.step-card{
    padding-top: 100px;
}

.text-bg h1{
  -webkit-text-fill-color: #FFFFFF; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F1F1F1;
  font-size: 150px;
  line-height: 150px;
}

.step-card-info{
    padding-left: 40px;
    margin-top: -55px;
}

.step-card-info p{
    padding-top: 10px;
}

@media (max-width:1399px) {
    .step-card-info{
        padding-left: 10px;
        margin-top: -50px;
    }
    .text-bg h1 {
        font-size: 100px;
        line-height: 110px;
    }
    .step-card{
        padding-top: 80px;
    }
}

@media (max-width:1199px) {
   
    
}

@media (max-width:991px) {
    .step-card .row{
        row-gap: 20px;
    }
    .text-bg h1{
        font-size: 80px;
        line-height: 95px;
    }
    .step-card-info p{
        padding-top: 5px;
    } 
    .nurturing-des p{
        padding-top: 10px;
    }
    .step-card-info{
        padding-left: 0px;
        margin-top: -45px;
    }
    .step-card{
        padding-top: 60px;
    }
   
}

@media (max-width:767px) {
    .text-bg h1 {
        font-size: 75px;
        line-height: 90px;
    }
    .ecopower-solution .row:nth-child(0){
        row-gap: 30px;
    }
    .nurturing-des p {
        padding-top: 20px;
    }
    .nurturing-row{
        margin-top: 30px;
    }
    .step-card{
        padding-top: 45px;
    }
}

@media (max-width:575px) {
    .text-bg{
        text-align: center;
    }
    .step-card-info{
        padding-left: 0;
    }
   
}

@media (max-width:430px) {
   
}


