body{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
}

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #181818;

    --primary-font-family: 'ibmplexsans';

    --h1-font: 45px;
    --h2-font: 42px;
    --h3-font: 24px;
    --h4-font: 20px;
    --h5-font: 16px;
    --h6-font: 20px;
    
    --regular-font: 400;
    --semi-bold-font: 600;
    --bold-font:700;
}

ul,
ol {
    list-style: none;
}

:focus-visible{
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

.padding-vertical {
    padding: 120px 0;
}

.padding-top{
    padding-top: 120px;
}

.padding-bottom{
    padding-bottom: 120px;
}

.container {
    width: 100%;
    max-width: 1350px;
}

h1, h2 ,h3 , h4, h5, h6{
    font-family: var(--primary-font-family);
    margin: 0;
}

h1, h2 ,h3 {
    font-weight: var(--bold-font);
}

h1 {
    font-size: var(--h1-font);
    line-height: 59px;
}

h2 {
    font-size: var(--h2-font);
    color: #000000;
    line-height: 55px;
}

h3 {
    font-size: var(--h3-font);
    color: #000000;
    line-height: 31px;
    text-transform: capitalize;
}

h4 {
    font-size: var(--h4-font);
    line-height: 26px;
    font-weight: 500;
}

h5 {
    font-size: var(--h5-font);
    font-weight: var(--regular-font);
    line-height: 30px;
    color: #9AE62D;
    padding-bottom: 10px;
}

h6 {
    font-size: var(--h6-font);
}

p {
    font-family: var(--primary-font-family) ;
    font-size: 16px;
    font-weight: var(--regular-font);
    line-height: 30px;
    color: #808080;
    margin: 0;
    padding: 0;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.theme-button{
    padding: 15px 30px;
    color: #000000;
    background-color: #9AE62D;
    display: inline-block;
    border: 1px solid #9AE62D;
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    border-radius: 7px;
}

.theme-button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #9AE62D;
    transition: all 600ms;
}

ol, ul{
    padding-left: 0;
    margin: 0;
}   

input:focus-visible {
    outline-offset: none;
}

@media (max-width:1399px) {
    .padding-vertical {
        padding: 100px 0;
    }

    .padding-top{
        padding-top: 100px;
    }
    .padding-bottom{
        padding-bottom: 100px;
    }

    h2{
        font-size: 38px;
        line-height: 44px;
    }
    
    .container{
        padding: 0 20px;
    }
}

@media (max-width:1199px) {

    h1 {
        font-size: 42px;
        line-height: 52px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
    }

    h3 {
        font-size: 22px;
        line-height: 28px;
    }

}

@media (max-width:991px) {

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 34px;
        line-height: 46px;
    }

    h6 {
        font-size: 18px;
    }

    .padding-vertical {
        padding: 70px 0;
    }

    .padding-top{
        padding-top: 70px;
    }

    .padding-bottom{
        padding-bottom: 70px;
    }

    .theme-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .padding-vertical {
        padding: 70px 0;
    }

}

@media (max-width:767px) {


    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5{
        line-height: 22px;
    }

    .padding-vertical {
        padding: 50px 0;
    }
    .padding-top{
        padding-top: 50px;
    }
    .padding-bottom{
        padding-bottom: 50px;
    }
    .theme-button a {
        font-size: 14px;
    }
}

@media (max-width:575px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
        line-height: 40px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 18px;
    }


    .theme-button{
        padding: 8px 15px;
       
    }
    .theme-button a{
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:430px) {
   
}
