.about {
    background-color: #001530;
    position: relative;
    z-index: 0;
}

.about::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: -40%;
    background-image: url('../images/about-bg-shape.png');
    background-repeat: no-repeat;
    z-index: -2;
}

.about-content{
    align-self: center;
}

.about-content p{
    padding-top: 15px;
    max-width: 690px;
}

.presents-info img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
}

.presents-info span{
    font-size: 20px;
    font-family: var(--secondary-font-family);
    font-weight: 600;
    line-height: 30px;
    color: #FFFFFF;
    vertical-align: middle;
}

.digital-presents{
    column-gap: 40px;
    margin-top: 40px;
}

.presents-info{
    margin-bottom: 30px;
}

.about-img img{
    width: 110% !important;
    margin-left: -20px;
}

@media (max-width:1399px) {
    .about-img img{
        width: 100% !important;
        margin-left: 0;
    }
    .digital-presents {
        column-gap: 30px;
        margin-top: 25px;
    }
}

@media (max-width:1199px) {
    
}

@media (max-width:991px) {
    .about::before{
        display: none;
    }
    .about {
        background-color: #001530;
        position: relative;
        z-index: 1;
    }
    .about-img{
        order: 1;
    }
    .about-content{
        order: 2;
        text-align: center;
        margin-top: 40px;
    }
    .about-img img{
        width: auto !important;
        margin-left: 0;
    }
    .about-img {
        display: flex;
        justify-content: center;
    }
    .about-content p{
        max-width: 100%;
    }
    .about .row{
        justify-content: center;
    }
    .digital-presents {
        justify-content: center;
        text-align: start;
    }
    .presents-info span {
        font-size: 18px;
    }
    .presents-info {
        margin-bottom: 25px;
    }
    .about .theme-button{
        margin-top: 10px;
    }
}

@media (max-width:767px) {
    .about-img img{
        width: 100% !important;
        height: auto;
    } 
    .about-content {
        margin-top: 30px;
    }
}


@media (max-width:575px) {
    .digital-presents{
        flex-direction: column;
        justify-content: center;
    }
    .presents-info {
        padding-left: 30%;
        margin-bottom: 15px;
    }

}

@media (max-width:430px) {
    .presents-info {
       text-align: center;
       padding-left: 0;
    }
}