.blog{
    background-color: #001530;
    position: relative;
    z-index: 0;
}

.blog::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 120%;
    bottom: -40%;
    right: 0;
    background-image: url('../images/blog-shape.png');
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;    
}

.blog-title {
    margin: 0 auto;
    text-align: center;
}

.blog-title p{
    padding-top: 15px;
    padding-bottom: 40px;
}

.blog-card{
    background-color: #001B3D;
    color: #FFFFFF;
    height: 100%;
}

.box-info{
    padding: 30px;
}

.blog .box-info h5{
    padding-top: 10px;
}

.blog .box-info .date{
    font-family: var(--primary-font-family);
    line-height: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.blog .box-info .date svg{
    margin-right: 8px;
}

.box-info p{
    padding-top: 15px;
}

.blog-box{
    padding-left: 0;
    padding-right: 15px;
}

.blog-box-2{
    padding-left: 15px;
    padding-right: 15px;
}

.blog-box-3{
    padding-left: 15px;
    padding-right: 0px;
}

@media (max-width:1399px) {
    .blog-box{
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .blog-box-2{
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .blog-box-3{
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width:1199px) {
    .box-info {
        padding: 25px;
    }
}

@media (max-width:991px) {
    .blog .row{
        row-gap: 30px;
    }
    .box-info {
        padding: 20px;
    }

    .box-info h5{
        line-height: 35px;
    }
    .box-info p {
        padding-top: 10px;
    }
    .blog-title p{
        padding-bottom: 30px;
    }
}

@media (max-width:767px) {
    .blog-card img{
        max-height: 380px !important;
        object-fit: cover;
    }
    .blog .box-info h5 {
        padding-top: 5px;
    }
}


@media (max-width:575px) {
    .blog-card img{
        max-height: auto;
        object-fit: cover;
    }
    .blog-title p{
        padding-bottom: 25px;
    }
}

@media (max-width:430px) {
    .box-info {
        padding: 15px;
    }
}