header{
    background-color: transparent;
    position: absolute;
    padding-top: 30px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;   
}

.logo{
    display: inline-block;
}

.navbar .logo{
    font-size: 24px;
    font-family: var(--sencondary-font-family);
    line-height: 37px;
    font-weight: var(--semi-bold-font);
    color: #FFFFFF;
}

.navbar{
    padding: 0;
}

.navbar-nav .nav-item .nav-link{
    color: #FFFFFF;
    font-family: var(--primary-font-family);
    font-weight:var(--regular-font);
    font-size: 16px;
    line-height: 19px;
    padding: 0px;
}

.navbar-nav .nav-item{
    padding: 0px 40px 0px 0px;
}

.navbar-nav .nav-item:last-child{
    padding: 0px;
}

header .nav-item .nav-link:hover{
    color: #0052B2;
    transition: all 500ms;
}

header .nav-item .nav-link:active{
    font-weight: 500;
    transition: all 500ms;
}

header .nav-item .active{
    font-weight: 500 !important; 
}

.navbar-nav li i{
    color: #F4F1EA;
    background-color: #E03131;
    padding: 14px;
    border-radius: 8px;
}

.navbar-nav{
   margin-left: auto;
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1.5em;
    vertical-align: middle;
    color: #0052B2;
    text-align: center;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    height: 40px;
    background-color: transparent;
    font-size: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    vertical-align: middle;
}

@media (max-width:1399px) {
 
}

@media (max-width:1199px) {

}

@media (max-width:991px) {
    header {
        padding: 20px 0;
        position: absolute;
    }

    header .navbar .navbar-nav .close-btn {
        padding: 0 10px 30px 0;
        margin: 0 0 0 auto;
    }

    header .navbar .navbar-nav .close-btn i {
        font-size: 30px;
        color: var(--white-color);
    }

    header .navbar ul {
        padding: 10px 0 0 0;
    }

    header .navbar-nav .nav-link {
        padding: 12px 0px !important;
        color: var(--white-color);
        display: inline-block;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }
    header .theme-button{
        display: none;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        background-color: #001B3D;
        margin-left: -20px;
        padding-left: 20px;
        margin-right: -20px;
        margin-top: 20px;
    }
   
    header .navbar ul{
        padding: 0;
    }
   
    .header-toggled {
        background-color: #001B3D!important; 
    }
}

@media (max-width:767px) {

}

@media (max-width:575px) {
    header .navbar-nav .nav-link{
        padding: 10px 0 !important;
    }
}

@media (max-width:430px) {
   
}