body{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #001530;

    --primary-font-family: 'rubik';
    --secondary-font-family: 'titilliumweb';

    --h1-font: 55px;
    --h2-font: 42px;
    --h3-font: 42px;
    --h4-font: 24px;
    --h5-font: 20px;
    --h6-font: 28px;
    
    --regular-font: 400;
    --medium-font: 500;
    --semi-bold-font: 600;
    --bold-font:700;
}

ul,
ol {
    list-style: none;
}

:focus-visible{
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

.padding-vertical {
    padding: 120px 0;
}

.padding-top{
    padding-top: 120px;
}

.padding-bottom{
    padding-bottom: 120px;
}

.container {
    width: 100%;
    max-width: 1350px;
}

h1, h2 ,h3 , h4, h5{
    font-family: var(--secondary-font-family);
    font-weight: var(--semi-bold-font);
    margin: 0;
}

h1 {
    font-size: var(--h1-font);
    line-height: 84px;
}

h2 {
    font-size: var(--h2-font);
    color: #FFFFFF;
    line-height: 64px;
}

h3 {
    font-size: var(--h3-font);
    color: #FFFFFF;
    line-height: 64px;
}

h4 {
    font-size: var(--h4-font);
    line-height: 37px;
}

h5 {
    font-size: var(--h5-font);
    line-height: 30px;
}

h6 {
    font-size: var(--h6-font);
    font-family: var(--secondary-font-family);
    line-height: 43px;
}

p {
    font-family: var(--primary-font-family) ;
    font-size: 16px;
    font-weight: var(--regular-font);
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.primary-color {
    color: var(--primary-color);
}

.theme-button{
    color: #FFFFFF;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #0052B2;
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.theme-button a{
    padding: 15px 30px;
    display: inline-block;
}

.theme-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 2px;
    background-color: #0052B2;
    z-index: -1;
    transition: all 500ms;
}
.theme-button:hover {
    color: #FFFFFF;
}

.theme-button:hover::before {
    width: 100%;
}

.theme-btn{
    background-color: #0052B2;
}

.theme-btn::before{
    background-color: #001530;
}

ol, ul{
    padding-left: 0;
    margin: 0;
}   

input:focus-visible {
    outline-offset: none;
}

@media (max-width:1399px) {
    .padding-vertical {
        padding: 100px 0;
    }

    .padding-top{
        padding-top: 100px;
    }
    .padding-bottom{
        padding-bottom: 100px;
    }

    h1{
        font-size: 48px;
        line-height: 68px;
    }

    h2{
        font-size: 38px;
        line-height: 44px;
    }

    h3{
        font-size: 38px;
        line-height: 44px;
    }
    
    .container{
        padding: 0 20px;
    }
}

@media (max-width:1199px) {

    h1 {
        font-size: 42px;
        line-height: 52px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
    }

    h3 {
        font-size: 36px;
        line-height: 48px;
    }

    h6 {
        font-size: 26px;
        font-family: var(--secondary-font-family);
        line-height: 39px;
    }
    .theme-btn{
        padding: 15px 30px;
    }
}

@media (max-width:991px) {

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 34px;
        line-height: 46px;
    }

    h4 {
        font-size: 22px;
        line-height: 34px;
    }

    h3 {
        font-size: 34px;
        line-height: 46px;
    }

    h6 {
        font-size: 22px;
        line-height: 34px;
    }

    .padding-vertical {
        padding: 70px 0;
    }

    .padding-top{
        padding-top: 70px;
    }

    .padding-bottom{
        padding-bottom: 70px;
    }

    .theme-button {
        padding: 15px 25px;
        font-size: 16px;
    }

    .padding-vertical {
        padding: 70px 0;
    }

}

@media (max-width:767px) {


    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 20px;
    }

    h5{
        line-height: 22px;
    }

    h6 {
        font-size: 20px;
        line-height: 32px;
    }

    .padding-vertical {
        padding: 50px 0;
    }
    .padding-top{
        padding-top: 50px;
    }
    .padding-bottom{
        padding-bottom: 50px;
    }
    
}

@media (max-width:575px) {
    h1 {
        font-size: 30px;
        line-height: 46px;
    }

    h2 {
        font-size: 28px;
        line-height: 40px;
    }

    h3 {
        font-size: 28px;
        line-height: 40px;
    }

    h5{
        font-size: 18px;
    }

    .theme-button{
        padding: 12px 20px;
       
    }
    .theme-button a{
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:430px) {
    
}
