.about .about-conetnt p{
    padding-top: 30px;
}

.about .about-conetnt h2{
    padding-bottom: 30px;
    margin: 0;
}

.about .about-conetnt {
    padding-right: 0px;
}

.about .about-conetnt-2{
    padding-left: 0;
    padding-left: 58px;
}

