.cta-info{
    background-image: url('/images/cta-bg.svg');
    padding-top: 221px;
    padding-bottom: 221px;
}

.cta-info h2{
    color: #FFFFFF;
    margin-bottom: 15px;
    line-height: 56px;
}

.cta-info p{
    color:#E1E1E1;
    padding-bottom: 30px;
}

.cta-info .theme-button a{
    display: inline-block;
}

.cta-info{
    justify-items: center;
}

.cta-content{
    max-width: 574px;
    margin-left: auto;
    margin-right: 104px;
}

.cta-image img{
   width: 100%;
   height: 100%;
}