.footer{
    padding-top: 100px;
    background-color: #060606;
    color: #FFFFFF;
}

.services{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 50px;
   border-bottom: 1px solid #2E2E2E;
}

.fasted-delivery {
    align-items: center;
    column-gap: 20px;
}

.services p{
    color: #FFFFFF;
}

.services span{
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 500;
}

.services .payment{
    justify-self: end;  
}

.services .support{
    justify-self: end;
}

.services .exchange{
    justify-self: center;
}

.footer-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-about p{
    padding-top: 20px;
    color: #E1E1E1;
}

.social-icon svg{
   margin-right: 20px;
   margin-top: 20px;
}

.footer h5{
    font-family: var(--secondary-font-family);
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.help-info ul li{
    font-family: var(--secondary-font-family);
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #E1E1E1;
    padding-bottom: 10px;
}

.help-info ul li:last-child{
    padding-bottom: 0;
}

.contact-bar .theme-icon{
    margin-right: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    
}

.contact-bar a{
    font-family: var(--secondary-font-family);
    color: #E1E1E1;
    padding-bottom: 15px;
}

.newsletter p{
    color: #E1E1E1; 
    padding-bottom: 15px;
}

.newsletter-input{
    background-color: white;
    color: #939393;
    border: none;
    padding: 12px 25px;
    outline: none;
    font-family: var(--secondary-font-family);
    line-height: 27px;
    font-size: 14px;
}

.newsletter-button{
    background-color: #FFFFFF;
    background-color: #060606;
    border: none;
    padding: 12px 30px;
    font-family: var(--secondary-font-family);
    font-weight: 600;
    line-height: 25px;
    color: #FFFFFF;
    font-size: 16px;
}

.newsletter form{
    border: 1px solid #FFFFFF;
    display: inline-block;
}

input:focus {
    outline: none;
}

.copy-right{
    border-top: 1px solid #2E2E2E;
}

.copy-right p{
    color: #FFFFFF;
    padding: 20px 0;
    line-height: 26px;
}
  
  
