.prd .item-name{
    font-size: 18px;
    font-family: var(--secondary-font-family);
    display:block;
    text-align: center;
    color: #424242;
    padding-top: 15px;
}
.prd .item-price{
    font-size: 16px;
    font-family: var(--secondary-font-family);
    display: block;
    text-align: center;
    color: #000000;
    padding-top: 10px;
}

.prd-image{
    width: 100%;
    height: 395px;
    background-color: #FAFAFA;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media(max-width:911px){
    
}





