.footer{
    padding: 10px;
    border-top:1px solid #DDDDDD;
}

.footer .container-fluid{
    background-color: #403732;
}

.footer .footer-map{
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
}

.footer h3{
    margin-bottom: 15px;
    color: #FFFFFF;
}

.footer p{
    color: #DDDDDD;
    padding-bottom: 30px;
}

.footer-content{
    padding-left: 103px;
}

.contact-info a {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.contact-info svg{
    margin-right: 15px;
}

.contact-info svg path{
    fill: #FFFFFF;
}

.contact-info a:hover{
    color: #DDDDDD;
}

.footer .copyright p{
    padding: 0;
}

.footer .copyright{
    padding: 20px 0;
    border-top: 1px solid #5b534f;
}

.footer .contact-content .theme-icon{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    align-items: center;
    line-height: 26px;
}

.footer .map iframe{
    width: 100%;
}

@media (max-width:1399px) {
    .footer .footer-map{
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer-content{
        padding-left: 70px;
    }
}

@media (max-width:1199px) {
    .footer-content{
        padding-left: 50px;
    }
}

@media (max-width:991px) {
    .footer-content{
        padding-left: 0px;
    }
    .footer-content p{
        text-align: start;
    }
}

@media (max-width:767px) {
   
}

@media (max-width:575px) {

}

@media (max-width:450px) {

}




