.banner-content{
    max-width: 950px;
    padding-top: 90px;
    padding-bottom: 100px;
    background-image: url('../images/banner-content-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.hero-banner .container{
    padding: 0 8px;
}

.banner-content{
    margin: 0 auto;
}

.banner-content p{
    margin-top: 15px;
}

.hero-image{
    position: relative;
    padding-bottom: 10px;
    border-bottom:1px solid #DDDDDD;
    display: flex;
    justify-content: center;
}

.hero-image:before{
    content: '';
    position: absolute;
    top : -60px;
    background-image: url('../images/badge.png');
    width: 120px;
    height: 120px;
    left: auto;
    transform: translate( 0, 0px);
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(-50%);
    }
    50%{
        transform: rotate(180deg);  
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width:1499px) {
    
}

@media (max-width:1199px) {
    
}

@media (max-width:991px) {
    .banner-content{
        background-size: 350px;
        padding-bottom: 80px;
    }

    .hero-image:before {
        top: -45px;
        width: 90px;
        background-size: 90px;
        height: 90px;
    }
}

@media (max-width:767px) {
    .banner-content{
        background-size: 238px;
        padding-top: 60px;
    }
}

@media (max-width:575px) {
    
}

@media (max-width:450px) {

}