.our-project{
    padding: 0 10px;
}

.our-project .container-fluid{
    background-color: #403732;
}

.our-project h5{
    color: #EEE1B3;
}

.our-project h2{
    color: #FFFFFF;
}

.project-img{
    position: relative;
    overflow: hidden;
}

.inner-content{
    position: absolute;
    background-color: #FFFFFF;
    margin: 30px;
    top: -100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.inner-content h4{
   padding: 30px 30px 10px 30px;    
}

.inner-content p{
    padding: 10px 30px 10px 30px;
}

.inner-content:nth-child(2) p{
    padding-top: 0  ;
}

.project-info:hover .inner-content{
    top: 0;
    transition: all 700ms ease-in-out;
}

.our-project .row{
    row-gap: 25px;
}

@media (max-width:1499px) {
    .project-info-4{
        margin-bottom: 25px;
    }
}

@media (max-width:1199px) {
    .inner-content p{
        padding: 10px 12px 10px 12px;
    }
    .inner-content{
        margin: 15px;
    }
    .inner-content h4 {
        padding: 15px 12px 10px 12px;
    }
   
}

@media (max-width:991px) {
    .inner-content p{
        text-align: start;
    }
    .project-img .w-100{
        max-width: 100% !important;
    }
}

@media (max-width:767px) {
   .our-project .row{
    justify-content: center;
   }
   .project-img{
    max-height: 500px;
   }
}

@media (max-width:575px) {

}

@media (max-width:450px) {

}