body{
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.png');
    font-family: var(--primary-font-family);
}

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --primary-font-family: 'tomotogrotesk';
    --secondary-font-family:'carmorant';
    --h1-font: 60px;
    --h2-font: 50px;
    --h3-font: 50px;
    --h4-font: 25px;
    --h5-font: 20px;
    --h6-font: 18px;
    --semi-bold-font: 600;
    --regular-font: 400;
    --light-font: 300;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.padding-vertical {
    padding: 120px 0;
}

.padding-top{
    padding-top: 120px;
}

.padding-bottom{
    padding-bottom: 120px;
}

.container {
    width: 100%;
    max-width: 1350px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--secondary-font-family);
    font-weight: 600;
    color: #000000;
    margin: 0;
} 

h1 {
    font-size: var(--h1-font);
    line-height: 72px;
}

h2 {
    font-size: var(--h2-font);
    line-height: 60px;
    margin-bottom: 40px;
}

h3 {
    font-size: var(--h3-font);
    line-height: 60px;
}

h4 {
    font-size: var(--h4-font);
    line-height: 30px;
}

h5{
    font-size: var(--h5-font);
    line-height: 25px;
    color: #324320;
    padding-bottom: 15px;
}

h6 {
    font-size: var(--h6-font);
}

p {
    font-family: var(--primary-font-family) ;
    font-size: 16px;
    font-weight: var(--light-font);
    line-height: 30px;
    color: #555555;
    margin: 0;
    padding: 0;
}

span{
    font-family: var(--primary-font-family) ;
    font-size: 16px;
    font-weight: var(--light-font);
    line-height: 30px;
    color: #555555;   
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.theme-button{
    padding: 15px 30px;
    background-color: #324320;
    display: inline-block;
    border: 1px solid #324320;
    color: #FFFFFF;
    font-weight: 500;
    font-family: var(--primary-font-family);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.theme-button:hover{
    background-color: transparent;
    border: 1px solid #324320;
    color: #324320;
    transition: all 600ms;
}

ol, ul{
    padding-left: 0;
}   

@media (max-width:1399px) {
    .padding-vertical {
        padding: 100px 0;
    }

    .padding-top{
        padding-top: 100px;
    }
    .padding-bottom{
        padding-bottom: 100px;
    }

    h1 {
        font-size: 56px;
        line-height: 68px;
    }

    h2{
        font-size: 46px;
        line-height: 54px;
    }

    h3{
        font-size: 46px;
        line-height: 54px;
    }
    
    .container{
        padding: 0 20px;
    }
}

@media (max-width:1199px) {

    h1 {
        font-size: 52px;
        line-height: 64px;
    }

    h2 {
        font-size: 40px;
        line-height: 52px;
    }

    h3 {
        font-size: 40px;
        line-height: 52px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

}

@media (max-width:991px) {

    body{
        overflow: unset !important; 
        padding: 0px !important; 
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
    }

    h3 {
        font-size: 36px;
        line-height: 48px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .padding-vertical {
        padding: 70px 0;
    }

    .padding-top{
        padding-top: 70px;
    }

    .padding-bottom{
        padding-bottom: 70px;
    }

    .theme-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .padding-vertical {
        padding: 70px 0;
    }

}

@media (max-width:767px) {


    h1 {
        font-size: 42px;
        line-height: 52px;
    }

    h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 30px;  
        line-height: 38px; 
        margin-bottom: 30px;
    }

    h5 {
        font-size: 18px;
        padding-bottom: 8px;
    }

    h6 {
        font-size: 18px;
    }

    .padding-vertical {
        padding: 50px 0;
    }
    .padding-top{
        padding-top: 50px;
    }
    .padding-bottom{
        padding-bottom: 50px;
    }
    .theme-button a {
        font-size: 14px;
    }
}

@media (max-width:575px) {
    h1 {
        font-size: 30px;
        line-height: 42px;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
    }

    h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .theme-button{
        padding: 8px 15px;
       
    }
    .theme-button a{
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:430px) {
   
}
